<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:title" content="Generator grup" />
    <meta property="og:url" content="https://group-mixer-r.herokuapp.com" />
    <meta property="og:image" content="images/group-mixer.png" />
    <base href="/"/>

    <link rel="stylesheet" href="/static/css/lumen/bootstrap.css" th:href="@{css/lumen/bootstrap.css}"/>
    <link rel="stylesheet" href="/static/css/lumen/bootstrap.min.css" th:href="@{css/lumen/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/css/my-style.css" th:href="@{css/my-style.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Changa:600" rel="stylesheet">

    <title>Generator grup</title>
</head>

</html>