<html lang="eng"
      xmlns="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base href="/"/>

    <link rel="stylesheet" href="/static/css/lumen/bootstrap.css" th:href="@{css/lumen/bootstrap.css}"/>
    <link rel="stylesheet" href="/static/css/lumen/bootstrap.min.css" th:href="@{css/lumen/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/css/my-style.css" th:href="@{css/my-style.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Changa:600" rel="stylesheet">

    <title>Generator grup</title>
</head>
<body>

<header>
    <!--navbar-->
    <div class="row">
        <h1 class="card my-text m-3 pl-3">generator grup</h1>
        <div class="row mx-3">
            <button class="btn btn-lg btn-outline-info  m-3" data-toggle="modal" data-target="#modal-info">Info</button>
            <a class="btn btn-lg btn-outline-primary m-3" href="/teams">Generuj grupy</a>
        </div>
    </div>
    <!--modal with information about algorithm -->
    <div class="modal" id="modal-info">
        <!--/*/ <th:block th:include="fragments/modal-info :: modal-info"></th:block> /*/-->
    </div>
</header>

<main class="container text-center">

    <!--groups with persons-->
    <div class="row" th:if="${teamsCreated}">
        <h2 class="card my-text m-3 pl-3">grupy</h2>
    </div>
    <div class="row mb-5" th:if="${teamsCreated}">

        <!--group name-->
        <div th:each="key: ${personsInTeams.keySet()}"
             class="col-sm-6 col-md-3 mb-1 d-flex align-items">
            <div class="card mb-3" style="min-width: 80%">
                <h4 class="card-header" th:text="${key.getName()}">Card title</h4>

                <!--persons-->
                <ul class="list-group list-group-flush">
                    <div th:each=" p : ${personsInTeams.get(key)}">
                        <li class="list-group-item py-1">
                            <h5 th:text="${p.getName()}"
                                class="card p-1"
                                th:classappend="${'my-outline-'+p.getLevel().getValue()}"
                                style="min-width: 80%">
                            </h5>
                        </li>
                    </div>
                    <li th:text="'Suma punktów: '+${key.getPoints()}" class="list-unstyled"></li>
                </ul>

            </div>
        </div>
    </div>

    <!--levels with persons-->
    <div class="row">
        <h2 class="card my-text m-3 pl-3">poziomy</h2>
    </div>
    <div th:each="key: ${personsOnLevels.keySet()}">

        <!--level name-->
        <div class="row">
            <div>
                <div>
                    <h5 th:text="${key.getName()}"
                        class="card my-card-reverse m-3 p-2"
                        th:classappend="${'my-bg-color-'+key.getValue()}"
                    ></h5>
                </div>
            </div>

            <!--persons-->
            <div class="row ml-2">
                <div th:each="p : ${personsOnLevels.get(key)}">
                    <h5 th:text="${p}"
                        class="card m-3 p-2"
                        th:classappend="${'my-outline-'+key.getValue()}"
                        style="min-width: 80%">
                    </h5>
                </div>
            </div>

        </div>

    </div>
</main>

<footer class="footer">
    <hr>
    <p>Copyright &copy; &nbsp; rengreen 2019</p>
</footer>

</body>
</html>